@{
    ViewBag.Title = "Home Page";
}
<body style="background-color: #171a21; color: whitesmoke">
<div class="jumbotron" style="background-color: #222">
    <h1>KozakStimekv2</h1>
    <p class="lead">Computer games platform</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Register, choose a game, then buy it and add it to your library! It's so easy!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more games</h2>
        <p>We are up to date with each premiere!</p>
    </div>
    <div class="col-md-4">
        <h2>Support</h2>
        <p>We support new developers!</p>
    </div>
</div>
</body>